html * {
  font-family: courier, monospace;
}
body {
  background-color: #BFBCBC;
  margin: 0 auto;
  padding: 0;
  button {
  	margin: 0 2px;
  }
}
h1 {
  color: #cd0000;
  font-size: 52px;
  letter-spacing: -8px;
  margin-left: 70%;

}
#submitInputBtn{
	background-color:#59879b;
	font-size: 25px;
}
.list {
  margin-left: 5%;
  color: #555;
  font-size: 20px;
  padding: 0;
  width: 1000px;
  border: 1px dotted #dedede;
  background-color: #FFFCFC;
}
.list li {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  text-indent: 25px;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
}
.list li:hover {
  background-color: #778C84;
}